.site-footer {
    color: rbga(255,255,255,1);
    background-color: rgba(251, 213, 232, 0.8);
}
.container {
    margin: 0 auto;
    max-width: 960px;
    padding: 1em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: .7em;
    letter-spacing: 1px;
}