header{
    height: 30vh;
    border-bottom: 1px, solid, #000;
    line-height: 1.4283;
    position: relative;
}
.hero-content {
    position: absolute;
    top: 35%;
    margin: 0;
    width: 40%;
    right: 30%;
    border: 1px solid rgba(0,0,0,1);
    text-align: center;
    padding: 1em;
}
.site-title {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 200;
}
.site-title a {
    color: rgba(0,0,0,1);

}