header{
    height: 30vh;
    border-bottom: 1px, solid, #000;
    line-height: 1.4283;
    position: relative;
}
.hero-content {
    position: absolute;
    top: 35%;
    margin: 0;
    width: 40%;
    right: 30%;
    border: 1px solid rgba(0,0,0,1);
    text-align: center;
    padding: 1em;
    background-color: rgba(0,0,0, .1);
}
.site-title {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 200;
    font-size: 2.75em;
}
.site-title a, .site-title a:hover, .site-title a:visited {
    color: rgba(0,0,0,1);

}
.site-description {
    font-weight: normal;
    font-family: 'Montserrat', san-serif;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 1px;
}